
body{
    background:#f8f9fa ;
}
.header{
    background: url(../img/img2.jpg)no-repeat center/cover;
    padding-top: 30px;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    height:80vh;
    font-family:   Serif;
}
.skill li{
    padding-top: 25px;
}
.footer-1{
    min-height:30vh;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .resume-1{
        text-align: center;
        padding-left: 30px;
    }
    .resume-1 p{
        padding-left:30px ;
        text-align: center;
    }
    .Education{
        text-align: center;
    }
    .skill li{
        list-style: none;
    }
  }